/*Custom properties*/
:root{
    --bg-color: white;
    --primary-color: rgb(0, 97, 255);
    --secondary-color: lightblue;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.blue-container{
    border: 1px black solid;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
}

section{
    border: 1px black solid;
}