/*Custom properties*/
:root{
    --bg-color: white;
    --primary-color: rgb(0, 97, 255);
    --secondary-color: lightblue;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*BLUE CONTAINER*/
.blue-container{
    border: 1px black solid;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
}

/*H2*/
h2{
    font-size: 36px;
}

/*ROWS*/
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*COLUMNS*/
.col{
    width: calc((100% - 60px) / 3);
    height: 800px;
    border: 1px solid gray;
}

.col.horizontal{
    width: 100%;
    height: 300px;
}

.plan .col{
    margin-top: 50px;
}

/*COL CONTENT*/
.col-name{
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid gray;
}

.col-info{
    width: 80%;
    margin: 20px auto 30px;
}

.col p{
    font-size: 14px;
}

.bold{
    font-weight: 800;
    margin: 10px 0;
}

.gray{
    color: gray;
    margin: 10px 0 30px;
}

.col .blue-container{
    margin: 30px auto;
    max-width: 60%;
}

.line{
    width: 20%;
    margin: 30px 0;
    border-top: gray 2px solid;
}

/*SECTIONS*/
.container section{
    margin: auto;
    margin-bottom: 200px;
    width: 60%;
    max-height: 1300px;
    border: 1px black solid; /*debug*/
}

.section-text{
    display: inline-block;
    width: 35%;
    height: calc(100% - 162px);
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
}

.section-text h3{
    margin-bottom: 20px;
}

.section-img{
    display: inline-block;
    width: calc(65% - 15px);
    height: calc(100% - 162px);
}

.section-img img{
    max-width: 100%;
}

.rectangle-container{
    margin-top: 20px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
}